{% load i18n %}
{% autoescape off %}
	{% blocktranslate %}
        Hi There! <br>
        You're receiving this email because you requested a password reset for your user account at S. <br>
    {% endblocktranslate %}

	{% translate "Please go to the following page and choose a new password:" %} <br>
	{% block reset_link %}
	{{ url_confirmation }}
	{% endblock %}
    <hr>
	{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }} <br>

	{% translate "Thanks for using our site!" %} <br>
    <br>
	{% blocktranslate %}The S. team{% endblocktranslate %}

	{% endautoescape %}