{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "My profile" %}
{% endblock %}

{% block body %}

  <div class="my-3 py-3 text-center ">
    <h2 class="display-5">{% trans "Welcome to our school!" %}</h2>
  </div>
<div class="d-flex justify-content-center align-items-center"
     style="min-height: 78vh; border-radius: 21px 21px 0 0; overflow: hidden; background-color: #1d1f24;">

    <img class="rounded img-fluid" src="{% static 'home/Stay.jpg' %}"
         alt="There had to be a picture"
         style="max-width: 100%; height: auto;">
</div>



{% endblock %}