{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    My Profile
{% endblock %}

{% block body %}

  <div class="my-3 py-3 text-center ">
    <h2 class="display-5">{% trans "Welcome to our school!" %}</h2>
  </div>
<div class="bg-light shadow-sm mx-auto p-5" style="min-height: 100vh; border-radius: 21px 21px 0 0; overflow-y: auto;  color: #3f4137">
       <img class="rounded" src="{% static '/home/Stay.jpg' %}" alt="There had to be a picture">
      </div>


{% endblock %}