{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {%  trans "My Courses" %}
{% endblock %}

{% block body %}
{% block background %}

<div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #5f59f7">
      <div class="my-3 py-3">
    <h2 class="display-6">{% trans "Our Courses" %}</h2>

      </div>

<div class="bg-light shadow-sm mx-auto p-5" style="min-height: 100vh; border-radius: 21px 21px 0 0; overflow-y: auto;  color: #3f4137">

{% if object_list %}
    <div class="container first-container col-sm-12 pull-left">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope='col' id="title-column">Title</th>
            <th scope='col' id="teacher-column">Teacher</th>
            <th scope='col' id="stud-column">Students</th>
            <th scope='col'>Tags</th>
            <th scope='col'>Start</th>


          </tr>
        </thead>
        <tbody>
        {% for course in object_list %}
            <tr>
                <td id="title-column">
                    <p><a href="{% url "apps.management:course-detail" course.id %}"
                          class="link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                     style="counter-increment: dt-counter; color: #212529;">
                        {{ course.title }}
                    </a></p>
                </td>
                <td id="teacher-column">
                    {% if course.teacher %}
                    {{ course.teacher.email}}
                    {% else %}
                    No teacher assigned
                    {% endif %}
                </td>
                <td id="stud-column">
                {% if course.students.all %}
                    <ul id="students-list" style="list-style: none">
                        {% for student in course.students.all %}
                            <li>{{ student.email}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No students
                {% endif %}
                </td>
                <td>{{ course.tags|join:", " }}</td>
                <td>{{ course.start_datetime }}</td>

            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
    {% trans "You have not registered to any course yet. Check our courses " %}
    <a href="{% url "management:all-courses" %}">{% trans "here" %}</a>
    </div>
{% endif %}
</div>
</div>
{% endblock %}
{% endblock %}