{% extends 'base.html' %}
{% load user_extras %}
{% load i18n %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block background %}
<div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #5f59f7;">
{% block body %}
<div class="bg-light shadow-sm mx-auto p-5" style="min-height: 100vh; border-radius: 21px 21px 0 0; overflow-y: auto;  color: #3f4137">

<div>
    <section class="pb-4">
      <div class="border rounded-5">

        <section class="w-100 px-4 py-5" style="background-color: #5f59f7; border-radius: .5rem .5rem 0 0;">
          <div class="row d-flex justify-content-center">
            <div class="col col-xl-10">
              <div class="card mb-5" style="border-radius: 15px;">
                <div class="card-body p-4">
                  <h3 class="mb-3">{{ course.title }}</h3>
                  {% if course.description %}
                   <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "About course:  " %}</span>
                    <em>{{ course.description | safe }}</em></p>
                  {% endif %}
                  {% if course.teacher %}
                  <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "Head Teacher " %}</span>
                    <strong>{{ course.teacher | fullname }}</strong></p>
                  <p class="small mb-0">
                  <i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "Teacher email:  " %}</span>
                    <strong>{{ course.teacher.email }}</strong>
                  </p>
                  {% else %}
                  <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "No teacher assigned yet" %}</span>
                    {% endif %}
                  <hr class="my-4">
                  <div class="d-flex justify-content-start align-items-center">
                      {% if perms.management.update_course %}
                      <a href="{% url 'management:update-course' pk=course.id %}" class="text-muted small mb-0 text-uppercase">
                        {% trans 'settings' %}
                      </a>
                      <span class="ms-3 me-4">|</span>
                      {% endif %}
                      {% if request.user.position == "teacher" or perms.management.add_task %}
                        <a href="{% url "management:create-task" pk=course.id %}" id="add-task-btn" class="text-muted small mb-0 text-uppercase">
                            {% trans "Add a new Task" %}
                        </a>
                      <span class="ms-3 me-4">|</span>

                      {% endif %}

                      {% if perms.management.add_lecture %}
                        <a href="{% url "management:create-lecture" pk=course.id %}" id="add-task-btn" class="text-muted small mb-0 text-uppercase">
                            {% trans "Add a new Lecture" %}
                        </a>
                      <span class="ms-3 me-4">|</span>

                      {% endif %}
                      <a href="{% url "management:ratings" pk=course.id %}" id="add-task-btn" class="text-muted small mb-0 text-uppercase">
                            {% trans "Check ratings" %}
                        </a>
                      <span class="ms-3 me-4">|</span>
                  {% if course.teacher %}
                    <img src="{{ course.teacher.photo.url }}" alt="avatar" class="img-fluid rounded-circle me-3" width="35">
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </section>
</div>
<div class="container">
    <div style="margin-bottom: 40px;" >
        <fieldset id='lectures' class="sub-course-info">
        <legend style="font-size: 30px;"><strong>Lectures</strong></legend>
        {% if course.lectures.all %}
             <p>
              <button class="btn btn-outline-light btn-block w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLectures"
                      aria-expanded="false" aria-controls="collapseLectures" style="background-color: #5f59f7">
                  {% trans "Show Lectures" %}
              </button>
            </p>
            <div class="collapse" id="collapseLectures">
            <div class="card card-body">
            <dl class="items-list">
            {% for lecture in course.lectures.all %}
            <dt class='item-dt' style="counter-increment: dt-counter; color: #3f4137; font-weight: 300"><strong>{{ lecture.title }}</strong></dt>
                {% if lecture.description %}
                    <dd class="sub-item-list"><em>{{ lecture.description|safe }}</em></dd>
                {% endif %}
                <hr>
            </dl>

            {% endfor %}
            </div>
            </div>
        {% else %}
             <div class="alert alert-warning" role="alert">
               <p style="margin: 20px" >{% trans "No lectures available for this course." %}</p>
             </div>
        {% endif %}
        </fieldset>
    </div>

    <div style="margin-bottom: 40px;" >
        <fieldset id='students' class="sub-course-info">
        <legend style="font-size: 30px;"><strong>Our Students</strong></legend>
        {% if course.students.all %}
            <p>
              <button class="btn btn-outline-light btn-block w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStudents"
                      aria-expanded="false" aria-controls="collapseStudents" style="background-color: #5f59f7">
                  {% trans "Show Students" %}
              </button>
            </p>
            <div class="collapse" id="collapseStudents">
            <div class="card card-body">
                <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Fullname</th>
                  {% if user.is_staff %}
                    <th scope="col">Email</th>
                  {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for student in course.students.all %}
                    <tr>
                        <td>{{ student | fullname}}</td>
                    {% if user.is_staff %}
                        <td>{{ student.email }}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            </div>

        {% else %}
         <div class="alert alert-warning" role="alert">
            <p style="margin: 20px"> {% trans "No students yet." %}</p>
        </div>

        {% endif %}

        </fieldset>
    </div>

    <div>
    <fieldset id="tasks" class="sub-course-info">

        <legend style="font-size: 30px;"><strong>Tasks</strong></legend>
        {% if course.tasks.all %}

            <p>
              <button class="btn btn-outline-light btn-block w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                      aria-expanded="false" aria-controls="collapseExample" style="background-color: #5f59f7">
                  {% trans "Show tasks" %}
              </button>
            </p>
            <div class="collapse" id="collapseExample">
            <div class="card card-body">

            <dl id="task-list"  class="items-list">
                {% for task in course.tasks.all %}
                <p>
                  <button class="btn btn-outline-light btn-block w-20" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTask{{ task.id }}"
                          aria-expanded="false" aria-controls="collapseExample" style="background-color: #3f4137">
                      {{ task.title }}
                  </button>
                </p>
                <div class="collapse" id="collapseTask{{ task.id }}">
                <div class="card card-body">

                    <section class="w-100 px-4 py-5" style="border-radius: .5rem .5rem 0 0;">
                          <div class="row d-flex justify-content-center">
                            <div class="col col-xl-10">
                              <div class="card mb-5" style="border-radius: 15px;">
                                <div class="card-body p-4">
                                  <h3 class="mb-3">{{ task.title }}</h3>

                                  <p class="small mb-0">
                                  <i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "Max Mark: " %}</span>
                                    <strong>{{ task.max_mark }}</strong>
                                  </p>
                                  <p class="small mb-0">
                                  <i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "Deadline: " %}</span>
                                    <strong>{{ task.deadline }}</strong>
                                  </p>


                                  {% if task.description %}
                                   <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">{%  trans "Description:  " %}</span>
                                    <em>{{ task.description | safe }}</em></p>
                                  {% endif %}

                                  <hr class="my-4">
                                  <div class="d-flex justify-content-start align-items-center">
                                      {% if request.user.position == "student" %}
                                      <a href="{% url 'assessment:create_answer' pk=course.id pktask=task.id %}" class="text-muted small mb-0 text-uppercase">
                                        {% trans 'Send answer' %}
                                      </a>
                                      <span class="ms-3 me-4">|</span>
                                    <hr class="my-4">

                                      {% endif %}
                                  </div>
                               <h5 class="display-7">{% trans "Answers" %}</h5>

                                  <div class="d-flex justify-content-start align-items-center">
                                      {% if task.answers.all %}
                                        <hr>

                                        <table class="table">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col"> {% trans "Student" %}</th>
                                            <th scope="col">{% trans "Answer" %}</th>
                                            <th scope="col">{% trans "Date" %}</th>
                                            <th scope="col">{% trans "Teacher" %}</th>
                                            <th scope="col">{% trans "Mark" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for answer in task.answers.all %}
                                            <tr>
                                            <td>{{ answer.student | fullname}}</td>
                                            <td>{{ answer.description|safe }}</td>
                                            <td>{{ answer.submission_datetime }}</td>
                                            {% if answer.mark_id %}
                                            <td>{{ answer.mark.teacher | fullname }}</td>
                                            <td>{{ answer.mark.mark_value }}</td>
                                            {% else %}
                                            <td colspan="2">
                                                {% if user.position == "teacher" or user.position == "admin"%}
                                                <form class="needs-validation" novalidate="" method="post"
                                                      action="{% url "assessment:create_mark" pk=course.id pktask=task.id pkanswer=answer.id %}">
                                                     {% csrf_token %}

                                                  <label for="{{ mark_form.mark_value.id_for_label }}" class="form-label outline-primary me-1 flex-grow-1">
                                                      {% trans "Mark: " %}
                                                  </label>
                                                    <span class="ms-3 me-5"> </span>
                                                        {{ mark_form.mark_value }}
                                                      <span class="ms-3 me-5"> </span>
                                                      <button type="submit"  class="btn btn-primary flex-grow-11" data-mdb-button-initialized="True">
                                                          {% trans "Assign" %}
                                                      </button>
                                                </form>
                                                {% else %}
                                                   <div class="alert alert-danger" role="alert">
                                                        <p> {% trans "No mark assigned yet." %}</p>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            {% endif %}

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>
                                    {% else %}

                                      <div class="alert alert-warning" role="alert">
                                          {% trans "No done homeworks yet" %}
                                        </div>
                                    {% endif %}

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </section>

                    <hr>
                </div>
                </div>
                {% endfor %}
                    <hr>
            </dl>
            </div>
            </div>

        {% else %}
             <div class="alert alert-warning" role="alert">
               <p style="margin: 20px" >{% trans "No tasks available for this course." %}</p>
             </div>

        {% endif %}

    </fieldset>
    </div>
    </div>
</div>
    </div>
<hr>
{% endblock %}
{% endblock %}