{% extends 'base.html' %}
{% load user_extras %}
{% load i18n %}

{% block title %}
    {% trans "Add Course" %}
{% endblock %}

{% block background %}
{% block body %}
<div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #5f59f7">
      <div class="my-3 py-3">
    <h2 class="display-6">{% trans "Add Course" %}</h2>

      </div>

<div class="bg-light shadow-sm mx-auto p-5" style="min-height: 100vh; border-radius: 21px 21px 0 0; overflow-y: auto;  color: #3f4137">

    {% include "select_form.html" %}

</div>

</div>

{% endblock %}
{% endblock %}