{% extends 'base.html' %}
{% load user_extras %}
{% load i18n %}

{% block title %}
    {% trans "Ratings" %}
{% endblock %}

{% block body %}
{% block background %}

<section class="min-vh-100 gradient-custom" style="background-color: #6a11cb;
     background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
     background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))">
<div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">

    <div class="my-3 py-3">
    <h2 class="display-6">{% trans "Ratings" %}</h2>

      </div>

<div class="bg-light shadow-sm mx-auto p-5" style="min-height: 100vh; border-radius: 21px 21px 0 0; overflow-y: auto;  color: #3f4137">

{% if ratings %}
<div class="container first-container mt-5">
    <div class="col">
        <form class="d-flex gap-2 align-items-end">
            {% for field in filter.form %}
                <div>
                    <label class="form-label text-uppercase small text-muted">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}
            <button class="btn btn-sm btn-secondary px-4 py-1" type="submit">
                {% trans "Apply filter" %}
            </button>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope='col' id="id-column">{% trans "ID" %}</th>
                        <th scope='col' id="title-column">{% trans "Student" %}</th>
                        <th scope='col' id="teacher-column">{% trans "Avg mark" %}</th>
                        <th scope='col'>{% trans "Total score" %}</th>
                        <th scope='col'>{% trans "Answers Send" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in ratings %}
                        <tr>
                            <th scope="row" id="id-column">
                                {{ user.id }}
                            </th>
                            <td id="title-column">
                                {{ user.first_name | capfirst }} {{ user.last_name | capfirst }}
                            </td>
                            <td>{{ user.avg_mark }}</td>
                            <td>{{ user.total_score }}</td>
                            <td>{{ user.answers_send }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% else %}
    <div class="alert alert-warning" role="alert">
    {% trans "No students info" %}
    </div>
{% endif %}
</div>
</section>
{% endblock %}
{% endblock %}