{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}>">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {%  block style %} {% endblock %}
    {% block extras %} {% endblock %}

</head>
{#    <p>The current URL is: {{ request.resolver_match.url_name }}</p>#}
{#    <p>Perms are: {{perms.name}} </p>#}
{% block header %}
    {% include 'header.html' %}
{% endblock %}

<body>
{% block body %}
{% endblock body %}
</body>


{% block footer %}
{% include 'footer.html' %}
{% endblock %}

<script src="{% static 'bootstrap.min.js' %}" ></script>
{% block extra_js %} {% endblock %}
{% block extra_footer %} {% endblock %}
</html>