{% extends 'account_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Sign in" %}
{% endblock %}


{% block form %}
<div class="mb-md-4 mt-md-4 pb-5">
  <a href="{% url "home:home-page" %}">
      <img class="mb-4" src="{%  static "brightened_logo.png" %}" alt="" width="72" height="72">
  </a>

  <h2 class="fw-bold mb-2 text-uppercase">{% trans "Login" %}</h2>
  <p class="text-white-50 mb-5">{% trans "Please enter your login and password!" %}</p>

  {% include "messages.html" with messages=messages %}

  <form class="form-signin" method="post">
        {% csrf_token %}
      <div data-mdb-input-init class="form-outline form-white mb-4">
        {{ form.username }}
        <label class="form-label" for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
      </div>

      <div data-mdb-input-init class="form-outline form-white mb-4">
          {{ form.password }}
        <label class="form-label" for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
      </div>

      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">
          {% trans "Login" %}</button>
  </form>

  <div class="d-flex justify-content-center text-center mt-4 pt-1">
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-white"><i class="fab fa-google fa-lg">
    </i></a>
  </div>
</div>

{% endblock form %}

{% block additional_info %}

<div>
  <p class="mb-3">{% trans "Don't have an account?"  %}
      <a href="{% url 'apps.authentication:register' %}" class="text-white-50 fw-bold">{%  trans "Sign Up" %}</a>
  </p>
</div>

<div>
  <p class="mb-0">{% trans "Forgot your password?"  %}
      <a href="{% url 'apps.authentication:reset-password' %}" class="text-white-50 fw-bold">{%  trans "Reset" %}</a>
  </p>
</div>

{% endblock %}