{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  trans "Account Settings" %}</title>
    {%  block style %} {% endblock %}
</head>
<body>
{% include "profile_body.html" with user=user %}

<div>
<a href="{% url "management:my-courses" %}"> My courses </a><br>
<a href="{% url 'authentication:settings' %}">{% trans "Settings" %}</a> <br>

</div>
<hr>
<a href="{% url "apps.home:home-page" %}">Back to home</a>


</body>
</html>