{% load static %}
{% load user_extras %}
{% load i18n %}

<div>
    <h2>{{ user.position|capfirst }}{%  trans " account" %}</h2>
    <fieldset>
        {% if request.user.photo %}
        <img src="{{ request.user.photo.url }}" alt="mdo" width="500" class="rounded-circle">
        {% else %}
        <img src="{% static "default-avatar.jpg" %}" alt="not found photo"  width="500"  class="rounded-circle">
        {% endif %}
        <ul>
            <li>{%  trans "Fullname:" %} {{ user | fullname  }}</li>
            <li>{%  trans "Email:" %} {{ user.email }}</li>
            <li>{%  trans "Date joined: " %}{{ user.date_joined }}</li>
        </ul>

    </fieldset>
</div>
