{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {%  trans "Settings" %}
{% endblock %}

{% block body %}
<div>
    <h1>{%  trans "Settings" %}</h1>

</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Update Info" %}</button>
</form>


<form method="post" action="{% url 'apps.authentication:logout' %}">
    {% csrf_token %}
    <button type="submit">{% trans "Logout" %}</button>
</form>
{% endblock %}