{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  trans "Permissions setting up" %}</title>
    {%  block style %} {% endblock %}
</head>
<body>

{% for user in users %}
    {% include "profile_body.html" with user=user %}<br>
     <a href="{% url "authentication:update-role" pk=user.id %}"> Edit permissions </a><br>
    <hr>

{% endfor %}

<hr>
<a href="{% url "apps.home:home-page" %}">Back to home</a>

</body>
</html>